version: 1.1.0
configuration: Release
build:
  publish_nuget: true
  verbosity: minimal
deploy:
- provider: NuGet
  api_key:
    secure: XGXP+Bw7tamVD5tIUqjlvfuNFRsk5U/hwcnR9dEwgNkFqI/Zwp8QydqJxqDpy5Tr
  skip_symbols: true
