version: 1.0.{build}
branches:
  only:
  - master
image: Visual Studio 2019
configuration: Release
build:
  publish_nuget: true
  verbosity: minimal
deploy:
- provider: NuGet
  api_key:
    secure: UmAPygGJRBgSaopUORwLkp/oN9MWrBl1jVP3jyj/RdHYE8i1SnMJH/od7O9NWxeR
  skip_symbols: true
